.p {
    min-height: 100vh;
    border-bottom: 5px solid;
    overflow-x: hidden;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
}

.p-title {
    padding: 2rem;
    font-size: 400%;
}

.post-title:hover {
    color: black;
}

.post-top {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.post {
    width: 60vw;
    min-height: 40vw;
    color: black;
    margin: 30px;
    border-radius: 2%;
    background-color: #DDDDDD;
    transition: all .2s ease-in-out;
    border-bottom: 5px solid;
    border-image:   linear-gradient(to right, #03f0fc 25%, #fff200 25%, #fff200 50%, #ff0088 50%, #ff0088 75%, #46f736 75%) 5;
}

.post:hover {
    transform: scale(1.1);
}

.post-top {
    font-size: 7vw;
}

.post-container {
    padding: 1vw;
}

.post-title {
    width: 50%;
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
}

.post-photo {
    width: 20vw;
    height: 20vw;
    object-fit: fill;
    overflow: hidden;
}

.post-photo img {
    overflow: hidden;
}

.post-description {
    color: black;
    font-size: 2vw;
}


.post-links{
    width: 90%;
    padding: 0% 5%;
    vertical-align: bottom;
}

.post-links a {
    font-size: 2vw;
    text-decoration: underline;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.projectPosts:nth-child(odd) {
    float: right;
 }

 .projectPosts:nth-child(even) {
    float: left;
 }

 .allProjects {
     padding: 1%;
 }

.allProjects button {
    font-size: 2vw;
    font-family: 'PT Sans Narrow', sans-serif;
}

@media screen and (max-device-width: 480px) {
    .p {
        flex-direction: column;
        padding: 10px;
    }
    .p-title {
        text-align: center;
    }
    .projectPosts:nth-child(odd) {
        float: none;
     }
     .projectPosts:nth-child(even) {
        float: none;
    }
    .projectPosts {
        width: 100%;
    }
    .post {
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
    }
    .post-container {
        width: 100%;
        padding: 4vw;
    }
    .post-title {
        font-size: 2.5rem;
    }
    .post-photo-container img {
        width: 100%;
        height: 100%;
    }
    .post-description {
        width: 100%;
        font-size: 1rem;
    }
    .post-links a{
        font-size: 1rem;
    }
    .fade-left {
        display: none;
    }
    svg {
        display: none;
    }
}
